@import 'src/styles/_theme';

/* The '&' is a shorthand for the containing element,
  so for example a '&.user-list' inside .game will compile to
  .game.user-list

  for more information visit https://sass-lang.com/guide
 */


.home{
  &.left {
    position: absolute;
    height: 584px;
    left: 98px;
    right: 401px;
    top: 122px;
    background: lighten($background, 5);

    &.recipe panel{
      position: relative;
      height: 582px;
      left: 0px;
      top: 80px;

      .container {
        position: absolute;
        height: 276px;
        width: 200px;
        left: 0;
        top: 0;
        background: #fdaaaa;
        border: 1px solid #EDEEF2;
        box-sizing: border-box;
        border-radius: 16px;

        &.card title {
          position: absolute;
          height: 24px;
          left: 0px;
          right: 32px;
          top: 0px;
        }

        &.h2 {
          font-family: 'Nunito', ui-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
          color: #2B2B43;
        }
      }
    }
    &.h2 {
       position: absolute;
       height: 28px;
       left: 10px;
       right: 10px;
       top: 10px;
       font-family: 'Nunito', ui-serif;
       font-style: normal;
       font-weight: 600;
       font-size: 20px;
       line-height: 28px;
       letter-spacing: 0.1px;
       color: #2B2B43;
     }
  }



  &.right {
    padding: 0px;
    position: absolute;
    width: 280px;
    height: 584px;
    left: 1047px;
    top: 122px;
    background: lighten($background, 5);



    &.party panel{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      position: absolute;
      width: 280px;
      height: 584px;
      left: 1047px;
      top: 122px;
      background: lighten($background, 5);

      &.container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;

        position: static;
        width: 270px;
        height: 71px;
        left: 0px;
        top: 48px;

        background: rgba(14, 165, 233, 0.1);
        border-radius: 4px;
      }

      &.card{
        position: static;
        width: 255px;
        height: 16px;
        left: 6px;
        top: 22px;

        font-family: 'Inter', ui-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height, or 133% */

        display: flex;
        align-items: center;

        /* lightBlue/700 */

        color: #0369A1;
      }


      &.h2 {
        position: static;
        height: 28px;
        left: 0px;
        right: 215px;
        top: 0px;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;

        letter-spacing: 0.1px;

        color: #2B2B43;
      }
    }
  }
}
