@import 'styles/theme';

.profile {
  &.container {
    display: block;
    margin: 0 auto;
    width: 62em;
    height: auto;
  }

  &.column {
    float: left;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;

    &.left {
      margin: 0 1em 1em auto;
    }

    &.right {
      margin: 0 auto 1em 1em;
    }
  }

  .line {
    display: inline-block;
    width: 5em;
    margin: 0 0.6em 0 0.6em;
    border-top: 1.5px solid $textColor;
    vertical-align: 5px;
  }

  .userInfo {
    &.container {
      margin: 0.5em 0;
      width: 20em;
      padding: 10px;
      border-radius: $borderRadius;
      display: flex;
      align-items: center;
      background: #F0E4C6;
    }

    &.label {
      font-weight: 500;
      color: $textColor;
    }

    &.value {
      margin-left: auto;
      margin-right: 10px;
      font-family: $fontMono;
      font-weight: 300;
      &.intro {
        margin-left: 0;
        margin-right: auto;
      }
    }
  }

  &.recipe {
    &.box {
      margin-top: 10px;
      padding-top: 10px;
      width: 25em;
      background: #FFFFFF;
      box-shadow: $recipeBoxShadow;
      border-radius: $recipeBorderRadius;
    }

    &.container {
      width: 100%;
      padding: 10px;
      border-radius: $borderRadius;
      display: flex;
      align-items: center;
    }

    &.recipe-name {
      cursor: pointer;
      margin-left: 1em;
      font-weight: 700;
      color: $textColor;
    }

    &.button {
      &.container {
        margin: 0 0 0 auto;
        width: 10em;
      }

      &.item {
        &:hover {
          transform: translateY(-2px);
        }

        margin-left: 1em;
        width: 5em;
        padding: 6px;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 13px;
        text-align: center;
        height: 35px;
        border-radius: $borderRadius;
        border: 1px solid #ffffff;
        cursor: pointer;
        color: $textColor;
        background-color: #EEEEEE;
        transition: all 0.3s ease;
      }

    }
  }

  &.edit {
    &.box {
      margin-top: 2em;
      min-height: 300px;
      @include center;
      flex-direction: column;
    }
    &.form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;
      max-width: 30em;
      font-size: 16px;
      font-weight: 300;
      padding-left: 37px;
      padding-right: 37px;
      border-radius: 0.75em;
      background-color: white;
      transition: opacity 0.5s ease, transform 0.5s ease;
      box-shadow: $dropShadow;
    }

    &.field {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1em 0 1em 0;

    }

    &.label {
      color: $textColor;
      margin-bottom: 10px;
      font-weight: 300;
    }

    &.radio {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0em 0em 0em 0.1em;
    }



    &.wrongFormat{
      height: 10px;
      margin-top: -15px;
      margin-bottom: 20px;
      font-style: italic;
      color: darkred;
      font-size: 13px;

    }

    &.button-container {
      display: flex;
      justify-content: center;
      padding:0.8em;
      margin-top: 2em;
      text-transform: uppercase;
      &.cancel {
        margin-top: 1em;
        margin-bottom: 2em;
        background-color: #b9b9b9;
      }
    }

    &.go-back-button-container {
      display: flex;
      justify-content: center;
    }
  }

}