@import 'styles/theme';

.profile {
  &.container{
    display: block;
    margin: 0 auto;
    width: 62em;
    height: auto;
  }
  &.column {
    float: left;
    padding: 1.5em;
    border-radius: $borderRadius;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30em;

    &.left {
      margin: 0 1em 1em auto;
    }
    &.right {
      margin: 0 auto 1em 1em;
    }
  }

  .line
  {
    display:inline-block;
    width:5em;
    margin: 0 0.6em 0 0.6em;
    border-top:1.5px solid $textColor;
    vertical-align:5px;
  }

  .userInfo {
    &.container {
      margin: 0.5em 0;
      width: 20em;
      padding: 10px;
      border-radius: $borderRadius;
      display: flex;
      align-items: center;
      background: #F0E4C6;
    }
    &.label {
      font-weight: 500;
      color: $textColor;
    }
    &.value {
      margin-left: auto;
      margin-right: 10px;
      font-family: $fontMono;
      font-weight: 300;
    }
  }

}